Obrigado por participar da Context Analytics, estamos muito tristes em ver você ir.<br/><br/>

Adoraríamos saber sobre sua experiência e como você acha que podemos melhorar o Context Analytics para nossos outros assinantes (e para você, se decidir voltar). Responda a este e-mail com seus comentários.<br /><br />

Se você decidir que gostaria de continuar monitorando o tráfego de seu site enquanto respeita a privacidade de seus visitantes, obviamente adoraríamos tê-lo de volta. Você pode reiniciar sua assinatura nas <a href="https://app.mycontext.com.br/settings">configurações de conta</a>.<br /><br />

Esperamos vê-lo por ai!
