Context está rastreando as estatísticas do seu site sem comprometer a experiência do usuário e a privacidade de seus visitantes.
<br /><br />
<%= link("Veja seu Context dashboard agora", to: "#{plausible_url()}") %> para as informações de tráfego mais valiosas em um piscar de olhos.
<br /><br />
Responda a este e-mail se tiver alguma dúvida ou precisar de orientação.
