Você ativou sua avaliação gratuita de 30 dias do Context, uma ferramenta de análise de sites simples e amigável à privacidade.
<br /><br />
<%= link("Clique aqui", to: "#{plausible_url()}/sites/new") %> para adicionar o URL do seu site, seu fuso horário e instalar nosso snippet de JavaScript de uma linha para começar a coletar estatísticas de visitantes.
<br /><br />
Responda a este e-mail se tiver alguma dúvida ou precisar de orientação.
