<%= @invitation.inviter.email %> convidou você para o<%= @invitation.site.domain %> dashboard do site na Context Analytics.
<%= link("Clique aqui", to: Routes.site_url(PlausibleWeb.Endpoint, :index)) %>para visualizar e responder. O convite irá expirar em 48 horas a partir da hora de envio.
