<%= @invitation.inviter.email %> convidou você para participar do <%= @invitation.site.domain %> site na Context Analytics.
<%= link("Clique aqui", to: Routes.auth_url(PlausibleWeb.Endpoint, :register_from_invitation_form, @invitation.invitation_id)) %> para criar sua conta. O link é válido por 48 horas após o envio deste e-mail.
<br /><br />
Context é uma ferramenta de análise de sites. Esperamos que você goste de nossa abordagem simples e ética para rastrear os visitantes do site.
