<%= @invitation.email %> aceitou a transferência de propriedade de of <%= @invitation.site.domain %>. Ele será responsável pela cobrança daqui para frente
e sua função foi alterada para <b>admin</b>.
<%= link("Clique aqui", to: Routes.site_url(PlausibleWeb.Endpoint, :settings_general, @invitation.site.domain)) %> para ver as configurações do site.
