<%= @invitation.inviter.email %> solicitou a transferência da propriedade do site <%= @invitation.site.domain %> no Context Analytics para você.
<%= if @new_owner_account do %>
  <%= link("Clique aqui", to: Routes.site_url(PlausibleWeb.Endpoint, :index)) %> para visualizar e responder ao convite.
<% else %>
  <%= link("Clique aqui", to: Routes.auth_url(PlausibleWeb.Endpoint, :register_form), invitation: @invitation.invitation_id) %> para criar sua conta.
  <br /><br />
  Context é uma ferramenta de análise de sites leve e de código aberto. Esperamos que você goste de nossa abordagem simples e ética para rastrear os visitantes do site.
<% end %>
