<%= @invitation.email %> rejeitou a transferência de propriedade de <%= @invitation.site.domain %>.
<%= link("Clique aqui", to: Routes.site_url(PlausibleWeb.Endpoint, :settings_general, @invitation.site.domain)) %> para ver as configurações do site.
