Um administrador de <%= @membership.site.domain %> removeu você como membro. Você não poderá mais ver as estatísticas.
<br /><br />
<%= link("Clique aqui", to: Routes.site_url(PlausibleWeb.Endpoint, :index)) %> para visualizar seus sites.
